.btn-block {
    padding: 1em;
    background: #ddd;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

button {
    background-color: yellow;
    padding: 1em;
}

.some {}

.tabcontainer {
    border: 1px solid #000;
    padding: 0.5em;

}

.tabheader {
    &__list {
        display: flex;
    }

    &__item {
        padding: 1em;
        margin: 0.5em;
        background: #ddd;
    }

    &__item_active {
        background: green;
    }

}

.tabcontent {}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid red;
}

button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: yellow;
    border: none;
}

.promotion {
    padding: 70px 0 240px;
    position: relative;

    .container {
        display: flex;
    }

    .bgc_y {
        position: absolute;
        width: 50%;
        height: 499px;
        background: rgba(243, 255, 222, 0.35);
        z-index: -1;
        top: -50px;
        left: 0;
    }

    &__text {
        width: 50%;
    }

    &__descr {
        margin-top: 40px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;

        span {
            font-weight: bold;
            font-size: 26px;
        }
    }

    &__timer {
        width: 50%;

        .title {
            text-align: right;
        }

        .timer {
            margin-top: 1em;

            // padding-left: 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__block {
                width: 102px;
                height: 120px;
                background: #FFFFFF;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
                font-size: 16px;
                font-weight: 300;
                text-align: center;

                margin: 0 0.5em;

                span {
                    display: block;
                    margin-top: 20px;
                    margin-bottom: 5px;
                    font-size: 56px;
                    font-weight: bold;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);

    &__dialog {
        max-width: 500px;
        margin: 40px auto;
    }

    &__content {
        position: relative;
        width: 100%;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 4px;
        max-height: 80vh;
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #000;
        opacity: 0.5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__title {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }

    &__input {
        display: block;
        margin: 20px auto;
        width: 280px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border: none;
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
        outline: none;
    }

    .btn {
        display: block;
        width: 280px;
        margin: 0 auto;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.btn {
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s all;
    outline: none;

    &_white {
        background-color: #fff;
    }

    &_dark {
        background-color: #000;
        color: #fff;
        border: none;
    }

    &_min {
        height: 50px;
    }

    &:hover {
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    }
}
